@import "{{ site.theme }}";
@import './colors.css';

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: auto;
}

footer {
  grid-row-start: 6;
  grid-row-end: 6;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #fff;
  font-size: 70px !important;
  font-family: 'Barlow', sans-serif !important;
}

h2 {
  text-align: center;
  font-family: 'Barlow', sans-serif !important;
}

h3 {
  font-family: 'Barlow', sans-serif !important;
  font-size: 30px !important;
  color: #fff;
  width: 75%;
  padding-bottom: 25px;
}

.standard-link {
  color: #7da7d9;
}

.navigation {
  display: inline-block;
  width: 100%;
}

.navigation-row {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: table;
  padding: 0 6em;
  background: rgba(255,255,255,.98);
  position: fixed;
  top: 0;
  z-index: 30;
  vertical-align: middle;
}

.navigation-row a {
  vertical-align: middle;
  color: #1c252d;
  padding-left: 25px;
}

.navigation-row a:first-of-type {
  padding-left: 0;
}

.navigation-row img {
  width: 160px;
}

.navigation-row i {
  font-size: 30px;
}

.navigation-row i:hover {
  color: #7da7d9;
}

.navigation-row i:hover, .navigation-row a:hover {
  color: #7da7d9;
  text-decoration: none;
}

.navigation-row--left {
  width: 30%;
  vertical-align: middle;
  display: table-cell;
}

.navigation-row--right {
  width: 100%;
  vertical-align: middle;
  text-align: right;
  display: table-cell;
}

.navigation__link-group {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    float: right;
}

.navigation__link-group a {
    float: left;
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation__link-group li {
    float: left;
    overflow: hidden;
    margin: 0 10px;
}

.navigation__who-we-are .button--link {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navigation__link-group a:hover, .button--link {
    color: #7da7d9;
    cursor: pointer;
}

.submenu {
    display: none;
    opacity: 0;
    transition: .5s;
    padding: 0 15px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin-top: 50px;
}

.submenu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.submenu li {
  float: none;
}

.submenu a:hover {
  color: #7da7d9 !important;
  cursor: pointer;
}

.navigation__who-we-are:hover .submenu--who-we-are {
    display: block;
    opacity: 1;
}

.navigation__what-we-do:hover .submenu--what-we-do {
    display: block;
    opacity: 1;
}

.navigation__resources:hover .submenu--resources {
    display: block;
    opacity: 1;
}

.introduction {
  padding: 10em 6em;
  height: 90vh;
  border-bottom: 11px solid #1c252d;
}

.introduction--home {
  background: url("../images/pu-images/png/backgrounds/jumbotron.png");
  background-size: cover;
}

.introduction--about {
  background: url("../images/pu-images/png/backgrounds/walk--gray.png");
  background-size: cover;
}

.introduction--sponsors {
  background: url("../images/pu-images/png/backgrounds/with-families--gray.png");
  background-size: cover;
}

.introduction--volunteer {
  background: url("../images/pu-images/png/backgrounds/irco-care-fest--gray.png");
  background-size: cover;
}

.introduction--know-your-rights {
  background: url("../images/pu-images/png/backgrounds/rally1.png");
  background-size: cover;
}

.introduction__link a.button, .what-we-do a.button, .donate a.button {
  background-color: #1c252d;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  transition: .5s;
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.introduction__link a.button:hover, .what-we-do a.button:hover, .donate a.button:hover {
  background-color: #fff;
  color: #1c252d;
  padding: 15px 35px;
  border-radius: 5px;
  transition: .5s;
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.introduction .col-md-12 {
  padding-left: 0;
}

.introduction__text {
  margin-bottom: 4em;
  color: #fff;
  font-size: 19px;
}

.what-we-do {
  padding: 4em 6em;
  grid-row-start: 3;
  grid-row-end: 3;
  height: auto;
}

.what-we-do h2, .upcoming-events h2 {
  text-align: left;
}

.what-we-do__subheadline {
  width: 100%;
  height: auto;
  padding-top: 4em;
}

.horizontal-line {
  border-bottom: 2px solid #1c252d;
  width: 19%;
  margin: 0 auto;
  padding-top: 0em;
  margin-bottom: 1em;
  float: left;
}

.what-we-do .row {
  align-items: center;
  margin: 3em 0;
}

.what-we-do__text {
  padding: 4em 0;
  width: 75%;
}

.what-we-do__text p {
  margin-bottom: 2em;
}

.what-we-do__image img {
  width: 100%;
  border-radius: 25px;
}

.upcoming-events, .donate {
  margin-top: 3em;
}

.upcoming-events iframe {
  margin: 2em 1em;
}

.sponsors__images .col-md-12 {
  text-align: center;
}

.sponsors__images img {
  width: 85%;
  padding: 1em 1em;
}

.upcoming-events .container {
  text-align: center;
}

.donate {
  background-image: url('../images/pu-images/png/rally.png');
  background-size: cover;
  width: 100%;
  opacity: .75;
  border-bottom: 11px solid #1c252d;
}

.donate__subheadline {
  padding: 3em 0;
  color: #fff;
  text-align: center;
}

.donate__subheadline .horizontal-line {
  float: none;
}

.footer {
  background-color: #1c252d;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 6em;
  height: 70px;
}

.footer__link-row a, .footer__logo-row a {
  color: #fff;
  display: table-cell;
}

.footer__link-row a:hover, .footer__logo-row a:hover {
  color: #fff;
  text-decoration: none;
}

.footer__link-row, .footer__logo-row {
  display: table-cell;
  vertical-align: middle;
}

.footer__link-row a {
  padding-right: 2em;
}

.footer__link-row a:hover {
  color: #7da7d9;
}

.footer__logo-row {
  display: table-cell;
  vertical-align: middle;
}

.footer__logo-row i {
  font-size: 30px;
  padding-left: 10px;
}

.footer__logo-row i:hover {
  color: #7da7d9;
}

@media screen and (max-width: 800px) {
  .navigation-row {
    padding: 0 3em;
  }

  .navigation-row a, .footer a {
    padding-left: 15px;
  }

  .navigation-row img {
    width: 125px;
  }
}

@media screen and (max-width: 680px) {
  .navigation-row {
    padding: 0 1.5em;
  }

  .navigation-row--left a {
    padding-left: 0;
  }

  .navigation-row a, .footer a {
    font-size: 14px;
    padding-left: 13px;
  }

  .navigation-row img {
    width: 100%;
  }

  .navigation-row i, .footer i {
    font-size: 20px;
  }

  .introduction {
    height: 50vh;
  }

  section.introduction {
    padding: 6em 1em;
  }

  .introduction__text h1 {
    font-size: 45px !important;
  }

  .introduction__text p {
    font-size: 14px;
  }

  .introduction__link a {
    font-size: 10px;
  }

  .what-we-do {
    padding: 0 1.5em;
  }

  .footer {
    padding: 0 1.5em;
  }
}
