@import "{{ site.theme }}";
@import './colors.css';

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 100px 0fr 1fr;
  overflow-x: auto;
}

footer {
  grid-row-start: 6;
  grid-row-end: 6;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #fff;
  font-size: 70px !important;
  font-family: 'Barlow', sans-serif !important;
}

h2 {
  text-align: center;
  font-family: 'Barlow', sans-serif !important;
}

h3 {
  font-family: 'Barlow', sans-serif !important;
  font-size: 30px !important;
  color: #fff;
  width: 75%;
  padding-bottom: 25px;
}

.standard-link {
  color: #7da7d9;
}

.navigation {
  display: block;
  grid-row-start: 1;
  grid-row-end: 1;
}

.navigation__logo-row {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: table;
  padding: 0 6em;
  background-color: #fff
  position: fixed;
  z-index: 30;
  vertical-align: middle;
}

.navigation__logo-row a {
  vertical-align: middle;
  color: #1c252d;
  padding-left: 25px;
}

.navigation__logo-row a:first-of-type {
  padding-left: 0;
}

.navigation__logo-row img {
  width: 160px;
}

.navigation__logo-row i {
  font-size: 30px;
}

.navigation__logo-row i:hover {
  color: #7da7d9;
}

.navigation__logo-row i:hover, .navigation__logo-row a:hover {
  color: #7da7d9;
  text-decoration: none;
}

.navigation__logo-row--left {
  width: 30%;
  vertical-align: middle;
  display: table-cell;
}

.navigation__logo-row--right {
  width: 70%;
  vertical-align: middle;
  display: table-cell;
  text-align: right;
}

.introduction {
  padding: 6em 6em;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 90vh;
  border-bottom: 11px solid #1c252d;
}

.introduction--home {
  background: url("../images/pu-images/png/backgrounds/jumbotron.png");
  background-size: cover;
}

.introduction--about {
  background: url("../images/pu-images/png/backgrounds/walk--gray.png");
  background-size: cover;
}

.introduction--sponsors {
  background: url("../images/pu-images/png/backgrounds/with-families--gray.png");
  background-size: cover;
}

.introduction--volunteer {
  background: url("../images/pu-images/png/backgrounds/irco-care-fest--gray.png");
  background-size: cover;
}

.introduction__link a.button, .what-we-do a.button, .donate a.button {
  background-color: #1c252d;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  transition: .5s;
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.introduction__link a.button:hover, .what-we-do a.button:hover, .donate a.button:hover {
  background-color: #fff;
  color: #1c252d;
  padding: 15px 35px;
  border-radius: 5px;
  transition: .5s;
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.introduction .col-md-12 {
  padding-left: 0;
}

.introduction__text {
  margin-bottom: 4em;
  color: #fff;
  font-size: 19px;
}

.what-we-do {
  padding: 0em 6em;
  grid-row-start: 3;
  grid-row-end: 3;
  height: auto;
}

.upcoming-events, .donate {
  margin-top: 3em;
}

.upcoming-events iframe {
  margin: 2em 1em;
}

.what-we-do__subheadline {
  width: 100%;
  height: auto;
  padding-top: 4em;
}

.horizontal-line {
  border-bottom: 2px solid #1c252d;
  width: 19%;
  margin: 0 auto;
  padding-top: 0em;
  margin-bottom: 1em;
}

.what-we-do .row {
  align-items: center;
}

.what-we-do__text {
  padding: 4em 0;
  width: 75%;
}

.what-we-do__text p {
  margin-bottom: 2em;
}

.what-we-do__image img {
  width: 100%;
  border-radius: 25px;
}

.upcoming-events {
  grid-row-start: 4;
  grid-row-end: 4;
}

.upcoming-events .container {
  text-align: center;
}

.donate {
  grid-row-start: 5;
  grid-row-end: 5;
  background-image: url('../images/pu-images/png/rally.png');
  background-size: cover;
  width: 100%;
  opacity: .75;
  border-bottom: 11px solid #1c252d;
}

.donate__subheadline {
  padding: 3em 0;
  color: #fff;
  text-align: center;
}

.footer {
  background-color: #1c252d;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 6em;
  height: 70px;
}

.footer__link-row a, .footer__logo-row a {
  color: #fff;
  display: table-cell;
}

.footer__link-row a:hover, .footer__logo-row a:hover {
  color: #fff;
  text-decoration: none;
}

.footer__link-row, .footer__logo-row {
  display: table-cell;
  vertical-align: middle;
}

.footer__link-row a {
  padding-right: 2em;
}

.footer__link-row a:hover {
  color: #7da7d9;
}

.footer__logo-row {
  display: table-cell;
  vertical-align: middle;
}

.footer__logo-row i {
  font-size: 30px;
  padding-left: 10px;
}

.footer__logo-row i:hover {
  color: #7da7d9;
}

@media (max-width: 800px) {
  .navigation__logo-row {
    padding: 0 3em;
  }

  .navigation__logo-row a, .footer a {
    padding-left: 15px;
  }

  .navigation__logo-row img {
    width: 125px;
  }
}

@media (max-width: 680px) {
  .navigation__logo-row {
    padding: 0 1.5em;
  }

  .navigation__logo-row a, .footer a {
    font-size: 12px;
    padding-left: 5px;
  }

  .navigation__logo-row img {
    width: 85px;
  }

  .navigation__logo-row i, .footer i {
    font-size: 15px;
  }

  .what-we-do {
    padding: 0 1.5em;
  }

  .footer {
    padding: 0 1.5em;
  }
}

@media (max-width: 550px) {
  section.introduction {
    padding: 6em 1em;
  }

  .introduction__text h1 {
    font-size: 45px !important;
  }

  .introduction__text p {
    font-size: 14px;
  }

  .introduction__link a {
    font-size: 10px;
  }
}
