<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Pueblo Unido PDX</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/colors.css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <header class="navigation">
    <div class="navigation-row">
      <div class="navigation-row--left">
        <a href="index.html">
                    <img src="./assets/images/pu-logo/PNG/pueblo-unido-logo--gradient-white.png"></img>
                </a>
      </div>
      <div class="navigation-row--right">
        <a href="about-us.html">About Us</a>
        <a href="volunteer.html">Volunteer</a>
        <a href="know-your-rights.html">Know Your Rights</a>
        <a href="https://www.facebook.com/PuebloUnidoPDX">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
        <a href="https://twitter.com/PuebloUnidoPDX">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
      </div>
    </div>
  </header>
  <section class="introduction introduction--about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="introduction__text">
            <h1>{{ page.header }}</h1>
          </div>
          <div class="introduction__link">
            <a class="button" href="volunteer.html">{{ page.headerButtonLeft }}</a>
            <a class="button" href="volunteer.html">{{ page.headerButtonRight }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="what-we-do">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="what-we-do__text">
            <h3>{{ page.subhead1 }}</h3>
            <p>{{ page.paragraph1 }}</p>
            <h3>{{ page.subhead2 }}</h3>
            <p>{{ page.paragraph2 }}</p>

            <p>Our team:</p>
            <ul>
              <li>Connects clients to adequate legal representation by offering referrals, informational materials, and scheduling consultations
              </li>

              <li>Raises donations to pay for clients’ legal consultation and retainer fees</li>

              <li>Helps families and attorneys gather evidence to strengthen their defense</li>

              <li>We accompany family members to schools, churches, and community centers to solicit letters of support</li>

              <li>We arrange free/reduced-cost mental health evaluations for clients' US citizen relatives</li>

              <li>We help clients request and gather past records (tax, medical, payroll, mailing, bills, etc)</li>

              <li>We place intake requests to connect families to social services like rent assistance and community-based food pantries</li>

              <li>And when necessary, we help facilitate communication between clients and their attorneys.
              </li>
            </ul>

            <p>{{ page.paragraph3 }}</p>

            <p>{{ page.paragraph4 }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<footer>
  <section class="footer">
    <div class="footer__link-row">
      <a href="about-us.html">About Us</a>
      <a href="volunteer.html">Volunteer</a>
      <a href="know-your-rights.html">Know Your Rights</a>
    </div>
    <div class="footer__logo-row">
      <a href="https://www.facebook.com/PuebloUnidoPDX">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
      <a href="https://twitter.com/PuebloUnidoPDX">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
    </div>
  </section>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>
